<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   	<form action='/backup' method='post' enctype="multipart/form-data">

   		email : <input type='text' name='id'><br>
   		list : <input type='text' name='mylist'><br>
      word : <input type='text' name='word'><br>

      <br>
      <input type='submit' value='백업'>   		
   	</form>

   </body>
</html>