<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   	<form action='/join' method='post' enctype="multipart/form-data">

   		email : <input type='text' name='email'><br>
   		pw : <input type='password' name='pw'><br>
      name : <input type='text' name='name'><br>
      cur_ver : <input type='text' name='cur_ver' value='0.1'>
      image : <input type='file' name='image'><br> 
       
      <br>
      <input type='submit' value='회원가입'>   		
   	</form>

   </body>
</html>