<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   	<form action='/password' method='post' enctype="multipart/form-data">

   		email : <input type='text' name='email'><br>
      <input type='submit' value='인증 번호 전송'>   	
   	</form>

   </body>
</html>