<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   	<form action='/update_chk' method='post' enctype="multipart/form-data">

      email : <input type='text' name='email'>
  

      <br>
      <input type='submit' value='업데이트'>   		
   	</form>

   </body>
</html>